$white: #ffffff;
$grey-250: #fafafa;
$grey-240: #f0f0f0;
$grey-220: #dcdcdc;
$grey-200: #c8c8c8;
$grey-180: #b4b4b4;
$grey-120: #787878;
$grey-90: #5a5a5a;
$grey-70: #474747;
$grey-50: #323232;
$grey-40: #282828;
$black: #000;

$orange: #FF5000;
$orange-secondary: #DC4500;

$blue: #001EFF;

$green: #309054;
